@import "./normalize.scss";
@import "./normalize-antd.scss";
@import "./vars.scss";

html,
body,
#root,
.app {
    position: relative;

    display: flex;
    width: 100%;
    height: 100%;
}

.app-content {
    width: 100%;
}
