@import "../../widgits/css/general.scss";
main{
    @extend %main;
}
.main_fixed{
    margin-top: 90px
}

.gallary{
    padding: 0 calcFluid(8, 200, 320, 1920);
    @extend %d-col;
    span a{
        text-decoration: none;
        color: black;
        font-size: calcFluid(12, 20, 320, 1920);
    }
    h1{
        font-size:calcFluid(20, 35, 320, 1920);
    }
    .gallary__item{
        @extend %d-row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        .card{
            width: calcFluid(250, 400, 630, 1920);  
            @extend %card;
            margin: 5px;
            
        }
    }
    .bag__clear{
        margin: 150px 0;
        h2, p{
           text-align: center;
        }
        h2{
            font-size: calcFluid(18, 30, 320, 1920);
        }
        p{
            font-size: calcFluid(15, 18, 320, 1920);
        }
    }
}

@media(max-width: 630px){
    .gallary{
        .gallary__item{
            .card{
                margin: 4px;    
                width: calcFluid(134, 249, 320, 630);  
            }
        }
    }
}